<% provide(:title, 'Sign up') %>


<div class="row">
  <div class="bgi-container">
    <%= link_to image_tag("smart.jpg", alt: "newloginimage", width: "1170px") %>
    </div>



    <div class="col-md-6 login-form-create">

      <%= form_with(model: @user, local: true) do |f| %>

      <%= render 'shared/error_messages', object: f.object %><!--パーシャルエラーメッセージ-->
        <%= f.label :name ,"名前"%>
        <%= f.text_field :name, class: 'form-control'  %>

        <%= f.label :email,"メールアドレス" %>
        <%= f.email_field :email, class: 'form-control'  %>

        <%= f.label :password,"8ケタ以上のパスワード" %>
        <%= f.password_field :password, class: 'form-control'  %>

        <%= f.label :password_confirmation, "再度パスワードを入力" %>
        <%= f.password_field :password_confirmation, class: 'form-control'  %>

        <%= f.submit "アカウントを作成", class: "btn btn-primary" %>
      <% end %>
    </div>
    </div>
  </div>
