<!-- id をgetするとshowが参照される -->
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
          <!-- 画像挿入 -->
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
    <!-- micropostsの中身が存在したら -->
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>  <!--_micropost.html.erbを自動で呼び出している -->
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>
